$images: ('/img/slide-1.jpg',
          '/img/slide-2.jpg',
          '/img/slide-3.jpg',
          '/img/slide-4.png',
          '/img/slide-5.png');

@each $image in $images {
    $i: index($images, $image);

    .slide:nth-child(#{$i}) {
        background-image: url('#{$image}');
    }
}

html, body {
    padding: 0;
    margin: 0;
}

.swiper {
    //width: 1680px;
    //height: 630px;
    width: 100vw;
    height:0;
    padding-top: 37.5%;
    cursor: -webkit-grab;
    overflow: hidden;
    position: relative;
}

.inner {
    position: absolute;
    width: 100vw * length($images);
    height: 100%;
    top: 0;
}

.slide {
    width: 100vw;
    height: 0;
    padding-top: 37.5% / length($images) ;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
